/*-------------estilos--generales---------*/
section{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}
img{
    width: 100%;
}
.visible{
    display:block;
}

/*-------------------estilos---header menu-------*/
.navbar-default .navbar-nav li a{
    color: white;
}
.navbar-default{
    background: #1a1919;
}
/*-------------------estilos---primera secion-------*/
.img-responsive{
    height: 250px;
}
.img-circle{
    width: 40%;
    margin: auto;
    padding: 20px;
    border: 1px solid #000000;
}
/*-------------------estilos---segunda--secion--------*/
#sectionScanea img {
    width:30%;
    
}