/*------------------------------------------------------------------------- ESTILOS GENERALES ------------------ */
* {
    //outline: 1px solid rgba(255, 0, 0, 0.4);
}
body{
    box-sizing: border-box;
}
$main-color: #c34143;
/*--------------------------------------------------------------------------------- MENU FIJO ------------------ */
header {
    margin-bottom: 70px;
}
header .navbar-brand {
    margin-top: 8px;
}
header .navbar-nav>li>a {
    padding-top: 23px;   
    padding-bottom: 23px;   
}

/*------------------------------------------------------------------------------- MENU INICIO ------------------ */
#inicio {
    //margin-top: 66px;
}
#inicio .list-type, .list-sorteo {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}
#inicio .list-type li, .list-sorteo li {
    display: inline-block;
    width: 25%;
    text-align: center;
}

/*----------------------------------------------------------------------------- LISTA SORTEOS ------------------ */
@mixin flotante {
    position: absolute;
    color: #fff;
}
#sorteo {
    .list-sorteo li {
        width: 31%;
        position: relative;
        margin: 1%;
        
        .elemento {
            width: 100%;
        }
        
        .logo-empresa {
            @include flotante;
            width: 100px;
            top: 5px;
            left: 5px;
        }
        .nombre-elemento {
            @include flotante;
            background: rgba(0, 0, 0, 0.51);
            padding: 5px;
            display: inline-block;
            bottom: 0;
            left: 0;
            font-size: 18px;
        }
        .add-pto {
            @include flotante;
            background: $main-color;
            border-radius: 100%;
            padding: 15px;
            display: inline-block;
            bottom: 0;
            right: 10px;
            line-height: 1;
            font-size: 15px;
            font-family: 'Glyphicons Halflings';
        }
    }
}

/*-------------------------------------------------------------------------------- RESULTADOS ------------------ */
.datepicker.dropdown-menu {
    top: 122px !important;
}

#resultados {
    padding: 15px 0;
    h1 {
        display: inline-block;
        margin: 0;
    }
    .input-group .form-control {
        height: 40px;
    }
    .i-calendar {
        font-size: 28px;
        color: $main-color;
    }
    .datepicker {
        
    }
}