/*------------------------------------------------------------------------- ESTILOS GENERALES ------------------ */
* {
    //outline: 1px solid rgba(255, 0, 0, 0.4);
}
body{
    box-sizing: border-box;
}
$main-color: #c34143;
$dark-color: #802b2c;
$color-todo: #8f4791;
$color-todo-dark: #69346a;
$color-comida: #f9ce55;
$color-comida-dark: #f2bd28;
$color-hospedaje: #ea6d4e;
$color-hospedaje-dark: #d95b3c;
$color-cosa: #5cb5a1;
$color-cosa-dark: #4d9b8a;

@mixin flotante {
    position: absolute;
    color: #fff;
}

@mixin listas {
    list-style: none;
    padding: 0;
}

.list-winners, .winners, .list-type, .list-sorteo {
    @include listas;
}
/*--------------------------------------------------------------------------------- MENU FIJO ------------------ */
header {
    margin-bottom: 70px;
    #a-results, #a-contact {
        cursor: pointer;
    }
}
header .navbar-brand {
    margin-top: 8px;
}
header .navbar-nav>li>a {
    padding-top: 23px;   
    padding-bottom: 23px;   
}

/*------------------------------------------------------------------------------- MENU INICIO ------------------ */
#inicio {
    //margin-top: 66px;
    .list-type {
        //background: $main-color;
        margin: 20px 0;
        color: #fff;
        li:nth-child(1){
            background: $color-todo;
            &:hover {
                background:$color-todo-dark;
            }
        }
        li:nth-child(2){
            background: $color-comida;
            &:hover {
                background:$color-comida-dark;
            }
        }
        li:nth-child(3){
            background: $color-hospedaje;
            &:hover {
                background:$color-hospedaje-dark;
            }
        }
        li:nth-child(4){
            background: $color-cosa;
            &:hover {
                background:$color-cosa-dark;
            }
        }
        li {
            padding: 10px 0;
            cursor: pointer;
        }
        i {
            font-size: 20px;
            padding-right: 10px;
        }
    }
}
#inicio .list-type li, .list-sorteo li {
    display: inline-block;
    width: 25%;
    text-align: center;
}

/*----------------------------------------------------------------------------- LISTA SORTEOS ------------------ */
#sorteo {
    .list-sorteo li {
        width: 31%;
        position: relative;
        margin: 1%;
        
        .elemento {
            width: 100%;
        }
        
        .logo-empresa {
            @include flotante;
            width: 100px;
            top: 5px;
            left: 5px;
        }
        .nombre-elemento {
            @include flotante;
            background: rgba(0, 0, 0, 0.51);
            padding: 5px;
            display: inline-block;
            bottom: 0;
            left: 0;
            font-size: 18px;
        }
        .add-pto {
            @include flotante;
            background: $main-color;
            border-radius: 100%;
            padding: 15px;
            display: inline-block;
            bottom: 0;
            right: 10px;
            line-height: 1;
            font-size: 15px;
            font-family: 'Glyphicons Halflings';
        }
    }
}

/*-------------------------------------------------------------------------------- RESULTADOS ------------------ */
.datepicker.dropdown-menu {
    top: 122px !important;
}

#resultados {
    padding: 15px 0;
    h1 {
        display: inline-block;
        margin: 0;
    }
    .input-group .form-control {
        height: 40px;
    }
    .i-calendar {
        font-size: 26px;
        color: $main-color;
        position: absolute;
        padding-left: 6px;
        padding-top: 4px;
        right: 19px;
    }
    #datepicker {
        padding: 4px;
        text-align: center;
    }
    .list-winners {
        .winners {
            li {
                display: inline-block;
            }
            .perfil-img {
                width: 50px;
            }
        }
    }
}