<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ciclope</title>
    <link rel="icon" type="image/ico" href="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Armata" rel="stylesheet">
    <link rel="stylesheet" href="css/administrador.css">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
    <header>
    	<nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>                        
                    </button>
                    <a class="navbar-brand" href="#">Ciclope</a>
                </div>
                <div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav">
                            <li id="concursos"><a href="#section1" >Concursos</a></li>
                            <li id="empresa"><a href="#section2">Empresa</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>  
    </header>
    
    <section id="btn-concurso"  class="visible">
    	<div class="content">
    		<div class="container">
    				
    				<h1>Concursos </h1>
    				<h4>Añadir Empresas <span class="glyphicon glyphicon-plus-sign" type="button" id="anadirConcurso" ></span></h4>
    					<table>
					  <tr>
						<th>Nombre</th>
						<th>Empresa</th>
						<th>Fecha de Inicio</th>
						<th>Fecha de Fin</th>
						<th>Estado</th>
						<th>Concursantes</th>
						<th>Editor</th>
						<th>Eliminar</th>
						<th>Sortear</th>
					  </tr>
					  <tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td><span class="glyphicon glyphicon-trash"></span></td>
						<td></td>
					  </tr>
					  <tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td><span class="glyphicon glyphicon-trash"></span></td>
						<td></td>
					  </tr>
					  <tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td><span class="glyphicon glyphicon-trash"></span></td>
						<td></td>
					  </tr>
					  <tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td><span class="glyphicon glyphicon-trash"></span></td>
						<td></td>
					  </tr>
					  <tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td><span class="glyphicon glyphicon-trash"></span></td>
						<td></td>
					  </tr>
					  <tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td><span class="glyphicon glyphicon-trash"></span></td>
						<td></td>
					  </tr>
					</table>
					<button id="">Añadir concurso</button>
    		</div>
    	</div> 
    </section>
    <section id="btn-anadirConcurso">
    	<div class="content">
    		<div class="container">
    				<h1>Añadir concursos  </h1>
    		</div>
    	</div> 
    </section>
    <div ng-app="MyApp" ng-controller="controllerEmpresas">
    <section id="btn-empresa">
    	<div class="content">
    		<div class="container">
    				<h1>Empresa </h1>
    				<h4>Añadir Empresas <span class="glyphicon glyphicon-plus-sign" id="anadirEmpresa"></span></h4>
    				
					  
    				   
    				<table>
					  <tr>
						<th>Empresa</th>
						<th>Estado</th>
						<th>Concursos</th>
						<th><span class="" type="button" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Usuarios</span></th>
													
							<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
						  <div class="modal-dialog" role="document">
							<div class="modal-content">
							  <div class="modal-header">
								<h2 class="modal-title" id="exampleModalLabel">Añadir usuario:</h2>
								<form>
								  <div class="form-group">
									<label for="recipient-name" class="form-control-label">Nombre:</label>
									<input type="text" class="form-control" id="r-name" ng-model="empresa.nombre" onkeyup="validateM(event)" onkeydown="validateT(event)">
								  </div>
								  <div class="form-group">
									<label for="recipient-factory" class="form-control-label">Empresa:</label>
									<select name="" id="r-factory" style="width:100%">
										<option name="">Purito Limón</option>
										<option name="">Purito Limonada</option>
										<option name="">Mocca</option>
										<option name="">Saltado a lo Lomo</option>
										<option name=""></option>
										<option name=""></option>
									</select>
								  </div>
								  <div class="form-group">
									<label for="recipient-email" class="form-control-label">Correo:</label>
									<input type="email" class="form-control" id="r-email" onfocus="">
								  </div>
								  <div id="msj"></div>
								  <div class="form-group" id="correoElectronico">
									<label for="message-password" class="form-control-label">Contraseña</label>
									<input type="password" required="" class="form-control" id="r-password">
								  </div>
								</form>
							  </div>
							  <div class="modal-footer">
								<button type="button" class="btn btn-primary" style="width:100%" >Añadir Usuario</button>
							  </div>
							</div>
						  </div>
						</div>
							
						<th>Editar</th>
						<th>Eliminar</th>
					  </tr>
					  <tr ng-repeat="empresa in listaEmpresas">
						<td>{{empresa.nombre}}</td>
						<td><input type="checkbox" ng-checked="{{empresa.estado}}"></td>
						<td>{{empresa.concursos}}</td>
						<td>{{empresa.usuarios}}</td>
						<td></td>
						<td><span class="glyphicon glyphicon-trash"></span></td>
					  </tr>
					  
					</table>
   				
		<button >click</button>
    		</div>
    	</div> 
    </section>
    
    <section id="btn-anadirEmpresa">
    	<div class="content">
    		<div class="container">
    				<div class="row">
    					<div class="col-md-6 ">
    						<h1>Añadir Empresa</h1>
    						<br>
    						<div class="name" id="nombre">
								<label for="name">Nombre</label>
								<input type="text" id="r-name" class="form-control"
								placeholder="Ingrese su nombre" ng-model="nombreEmpresa">
   							</div>
   							<br>
   							<label for="logo">Logo</label>
   							<div class="input-group">
   							  <input type="" class="form-control" name="form-input" id="file-input">
							  <span class="input-group-addon" type="file" id="file-input">...</span>
							</div>
  							<br>
   							<label for="logo">Datos de Contacto</label>
   							<div class="input-group">
   							  <textarea name="" id="" cols="30" rows="10"  style="width:100%" ng-model="contactoEmpresa"></textarea>
							</div>
    						<input name="form-input" width="13%" height="13%" id="file-input" type="file" />
							<br />
							<img id="imgSalida" width="100%" height="10%" src="" />
   						<button type="button" class="btn btn-primary" style="width:100%" ng-click="addEmpresa()" id="anadirAddEmpresa">Añadir Usuario</button>
    					</div>		
    					<div class="col-md-6">
    						<div style="heigth:700px; margin-top:80px" id="map"></div>
    					</div>
    			    </div>	
    			</div>
    	</div>
    </section>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0O6LwAvlwMmf7NbSlmFOD4v-LXOUBXqo"></script>
    
    <script src="js/administrador.js"></script>
    <script src="js/mapa.js"></script>
    
</body>
</html>