<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ciclope</title>
    <link rel="icon" type="image/ico" href="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/empresa.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css">
</head>
<body>
   <!------HEADER-------MENU----------------->
   <header class="header-menu">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header"> 
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <input type="text" class="pull-right">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav pull-center">
                <li><a href="#" id="inicio">Inicio</a></li>
                <li><a href="#" id="escanea">Scaneo de tu Codigo</a></li>
                <li><a href="#" id="contacto">Contacto</a></li>
              </ul> 
                
            </div>
          </div>
        </nav>
    </header>
    
   <!------------SECTION--------JUGADORES----->
   <div ng-app="Myapp">
       <div ng-controller="ControllerClientesYpuntos">
        <section id="jugadores" class="visible">
           <div class="container">
               <div class="row">
                   <div class="col-md-5 text-center">
                       <h1>Clientes Satisfechos</h1>
                        <div class="participantes">
                            <p>Total puntos :<span>800</span> Participantes</p>
                            <p>Participantes:<span>400</span> Participantes</p>
                            <p>Clientes:<span>200</span> Clientes</p>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <div class="img-circle">
                               4.6
                            </div>
                            <p>Puntos por persona</p>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <div class="img-circle">
                               50%
                            </div>
                            <p>Clientes Tranfomados</p>
                        </div>
                   </div>
                   <div class="col-md-7">                         
                        <div class="col-xs-6">
                            Inicio <br>
                            <input type="text" name="datepicker" id="datepicker" readonly="readonly" size="12" onchange="cambioFecha()">
                            <span class="fa fa-calendar"></span>
                        </div>
                        <div class="col-xs-6">
                           Fin <br>
                          <input type="text" name="datepicker" id="datepicker2" readonly="readonly" size="12"/> 
                          <span class="fa fa-calendar"></span>
                        </div>
                        <div class="border">
                            <img src="img/grafico.png" alt="" class="img-responsive">
                        </div>
                   </div>
               </div>
           </div>
            <!--------------LISTA--DE----PREMIOS---COMIDA-------------------->
           <div class="container">
              <h2 id="fechaMes" style="margin-left:18%">Marzo</h2>
               <div class="row text-center">
                   <div class="col-xs-2 letra">
                        2017
                   </div>
                   <br>
                   <div id="lista">
                   </div>
               </div>
           </div>
        </section>
    </div>
   
   <!-------SECION---ESCANEA--TU--CODIGO------------------------>
   <div ng-controller="ControladorCodigo">
     <section id="sectionScanea">
       <div class="container">
           <h2>Scaneo</h2>
           <img src="img/escaneo.PNG" alt="" class="img-responsive">
           <br>
           <div class="escaneoCodigo">
               <p>Scanea el Codigo QR para hacer efectivo el vale</p>
               <div class="numero">0</div>
               <div>
                   escribre el codigo que aprece ebajo de la imagen 
                   <br>
                   <br>
                   <input type="text" ng-model="codigo">
                   <button ng-click="checkCodigo()">ENVIAR</button>
               </div>
           </div>
       </div>
   </section>
    <!-------SECION---FELIZIDADES-GANASTE--PREMIO----------------->
    <section id="premio">
        <div class="container">
            <h1>Felicidades <span>Juan Carlos</span> obtiene</h1>
            
            <img src="img/ceviche.jpg" alt="">
            
            <br>
            <div class="col-md-6 col-xs-12">
               <div class="col-md-4 col-xs-4">
                   <img src="img/Bonus.png" alt="">
               </div>
               <div class="col-md-8 col-xs-8">
                   <h3>5% <span>Toda la tienda llena</span></h3>
               </div>
            </div>
        </div>
        
        <div class="container">
           <div class="regreso">
               <i class="fa fa-angle-left flecha" aria-hidden="true"></i> 
               <span>Regresar a Scan</span>
            </div>
        </div>
    </section>
    <!-------------SECTION----NO------GANASTE---------------->
    <section id="perdiste" class="text-center">
        <div class="container">
            <h2>Lo sentimos, Este Ticket ya fue usado</h2>
            <img src="img/perdiste.jpg" alt="">
            <br>
            <br>
            <div class="regreso">
               <i class="fa fa-angle-left flecha" aria-hidden="true"></i> 
               <span>Regresar a Scan</span>
            </div>
        </div>
    </section>
    </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="js/empresa.js"></script>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
</html>